.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 210 207);
  --md-sys-color-surface-tint: rgb(255 179 176);
  --md-sys-color-on-primary: rgb(72 19 20);
  --md-sys-color-primary-container: rgb(203 122 120);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(254 210 208);
  --md-sys-color-on-secondary: rgb(56 31 30);
  --md-sys-color-secondary-container: rgb(173 136 134);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(250 215 160);
  --md-sys-color-on-tertiary: rgb(52 34 0);
  --md-sys-color-tertiary-container: rgb(170 140 92);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 17);
  --md-sys-color-on-background: rgb(240 222 221);
  --md-sys-color-surface: rgb(26 17 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(83 67 66);
  --md-sys-color-on-surface-variant: rgb(238 215 214);
  --md-sys-color-outline: rgb(194 173 172);
  --md-sys-color-outline-variant: rgb(159 140 139);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 222 221);
  --md-sys-color-inverse-on-surface: rgb(50 40 39);
  --md-sys-color-inverse-primary: rgb(116 52 51);
  --md-sys-color-primary-fixed: rgb(255 218 216);
  --md-sys-color-on-primary-fixed: rgb(44 1 3);
  --md-sys-color-primary-fixed-dim: rgb(255 179 176);
  --md-sys-color-on-primary-fixed-variant: rgb(94 35 35);
  --md-sys-color-secondary-fixed: rgb(255 218 216);
  --md-sys-color-on-secondary-fixed: rgb(32 11 10);
  --md-sys-color-secondary-fixed-dim: rgb(231 189 186);
  --md-sys-color-on-secondary-fixed-variant: rgb(75 47 46);
  --md-sys-color-tertiary-fixed: rgb(255 222 170);
  --md-sys-color-on-tertiary-fixed: rgb(26 15 0);
  --md-sys-color-tertiary-fixed-dim: rgb(227 194 140);
  --md-sys-color-on-tertiary-fixed-variant: rgb(71 51 10);
  --md-sys-color-surface-dim: rgb(26 17 17);
  --md-sys-color-surface-bright: rgb(77 66 65);
  --md-sys-color-surface-container-lowest: rgb(13 6 6);
  --md-sys-color-surface-container-low: rgb(37 27 27);
  --md-sys-color-surface-container: rgb(48 37 37);
  --md-sys-color-surface-container-high: rgb(59 48 47);
  --md-sys-color-surface-container-highest: rgb(70 59 58);
}
