.light-medium-contrast {
  --md-sys-color-primary: rgb(94 35 35);
  --md-sys-color-surface-tint: rgb(144 74 72);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(161 88 86);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(75 47 46);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(135 101 99);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(71 51 10);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(131 105 59);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(35 25 25);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(23 15 15);
  --md-sys-color-surface-variant: rgb(244 221 220);
  --md-sys-color-on-surface-variant: rgb(65 51 50);
  --md-sys-color-outline: rgb(95 79 78);
  --md-sys-color-outline-variant: rgb(123 105 104);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 45);
  --md-sys-color-inverse-on-surface: rgb(255 237 235);
  --md-sys-color-inverse-primary: rgb(255 179 176);
  --md-sys-color-primary-fixed: rgb(161 88 86);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(132 65 63);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(135 101 99);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(108 77 75);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(131 105 59);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(105 81 38);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(212 195 193);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 239);
  --md-sys-color-surface-container: rgb(246 228 227);
  --md-sys-color-surface-container-high: rgb(235 217 215);
  --md-sys-color-surface-container-highest: rgb(223 206 204);
}
